@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#040228 0%, #0075c7 40%);
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 100px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    z-index: 100;
}

.logo{
    color: #fff;
    font-size: 2rem;
    cursor: default;
}

 .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
 }

.navbar a:hover,
.navbar a.active{
    background: #00a3b9;
} 

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    padding: 100px;
    background: #040228;
}

.sec h2{
    font-size: 3rem; 
    color: #fff;
    margin-bottom: 10px;

}

.sec h2:nth-child(2){
    font-size: 2rem;
}

.sec p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
}